@import url("navbar.css");
@import url("footer.css");


*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body{
    overflow-x:hidden;
    overflow-y: hidden;
    position:relative;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    
}
h5{
    color: #2d314d;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
}
h7{
    color: #2d314d;
    font-weight: 600;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}
/*Loading Page*/
#loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(45, 49, 77);
    z-index: 10000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
@keyframes sk-rotateplane {
    0% { 
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
/**********Products*******/

#product-details{ 
    background-color: #26293f;
    padding: 4rem 2rem;
    margin-top: 5rem;
}
#product-details .container{ 
    background-color: #fff;
    padding: 2rem 4rem;
}
#mainImage{
    cursor: pointer;
    /* -webkit-box-shadow: -6px -6px 10px rgba(255,255,255,1),6px 6px 20px rgb(0,0,0);
        box-shadow: -6px -6px 10px rgba(255,255,255,1),6px 6px 20px rgba(0,0,0,0.1);*/
    width: 90%;

}
/*#mainImage:hover{
    -webkit-box-shadow: inset -6px -6px 10px rgba(255,255,255,0.5),inset 6px 6px 20px rgba(0,0,0,0.05);
    box-shadow: inset -6px -6px 10px rgba(255,255,255,1),inset 6px 6px 20px rgba(0,0,0,0.1);
}*/
.img-item
{
    width: 20%;
    float: left;
    cursor: pointer;
    
}
.cateogry{
    color: #2d314d;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Prompt', sans-serif;
}
/*Modal Div*/

#lightbox-container
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 9999;
}
#lightbox-item
{
    width: 80%;
    height: 100vh;
    background-image: url(../images/);
    background-size: 100% 100%;
    position: relative;
    /*transition: all 2s;*/
}

#lightbox-item:hover{
    cursor: pointer;
    
}
#prev , #next , #close
{
    color: #fff;
    cursor: pointer;
}
#prev:hover,#next:hover
{
    color: #26293f;
}
#close:hover
{
    color: rgb(163, 22, 22);
}
#close
{
    position: absolute;
    top: 20px;
    right: 20px;
}
.pagination{
    background-color: #26293f;
}
.pagination .page-item button:focus{
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
@media screen and (max-width: 850px){
    #lightbox-item{
        width: 90%;
        height: 70vh;
    }
    #product-details{ 
        padding: 1.8rem 1rem;
    }
    #product-details .container{ 
        padding: 4rem 0.5rem;
    }
    
}